:root {
    --base-color1: #753CBD;
    --base-color1-dark: #6E34B7;
    --base-color2: #54D4B6;
    --base-color2-dark: #45CFAF;
    --base-color2-light: #63ECCB;
    --base-color-3: #FF70F9;
    --black-color: #000;
    --white-color: #fff;
    --view-size: 13px;
    --view-size-xxl: 20px;
    --view-size-xxxl: 30px;
    --view-size-xl: 16px;
    --view-size-sm: 11px;
    --view-size-xs: 8px;
    --transitioner: 0.6s all ease;
    --material-icon-xl: 45px;
    --fontawesome-xl: 35px;
    --fontawesome-md: 30px;
    --curve-corner-sm: 5px;
    --curve-corner-xl: 15px;
    --curve-corner-xxl: 25px;
    --curve-corner-cirle: 50%;

}

$size: 40px;
$speed: 2s;
$peakopacity: 0.9;

* {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Jost', sans-serif;

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
    }

    .btn {
        border-radius: var(--curve-corner-sm);
        font-size: 12px;
        padding: 10px 35px;
        transition: var(--transitioner);

        &.btn-anim {
            outline: none;
            border: none;
            font-size: var(--view-size);
            font-weight: bold;

            .material-symbols-outlined,
            i {
                font-size: inherit;
                font-weight: 600;
                vertical-align: middle;
                margin: 0;
                opacity: 0;
                width: 0;
            }

            &.black {
                background: black;
            }

            &:hover {
                transition: var(--transitioner);
                padding-left: 25px;
                padding-right: 25px;

                .material-symbols-outlined,
                i {
                    transition: var(--transitioner);
                    opacity: 1;
                    margin-left: 15px;
                    width: auto;
                }
            }
        }
    }

    .upperCase {
        text-transform: uppercase;
    }

    .lowerCase {
        text-transform: lowercase;
    }

    .navbar {
        font-size: var(--view-size);
        background: var(--white-color);

        // &.collapseShow {
        //     background-color: var(--base-color);
        // }

        .navbar-collapse {

            .navbar-nav {
                margin: auto;

                .nav-link {
                    padding-top: 12px;
                    padding-left: 0.8rem;
                    padding-right: 0.8rem;
                    color: var(--black-color);

                    &.active {
                        // color: #fff;
                    }
                }
            }
        }

        .reg-btn {}

        #languageDrop {
            color: var(--black-color);
            background-color: transparent;
            border: none;

            &:focus {
                border: none;
                box-shadow: none;
            }
        }
    }

    .main-content {
        section.sec {
            padding: 125px 0;
            overflow-x: hidden;

            .sec_overlay {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 90%;
                overflow: hidden;
                // z-index: 1;

                img {
                    width: 100%;
                    // height: 100%;
                }
            }

            .sec_overlay_double {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                // z-index: 1;

                img {
                    width: 100%;
                }
            }
        }

        .hero-banner {
            width: 100%;
            background-color: var(--base-color1);
            color: var(--white-color);

            .content {
                z-index: 2;

                .headline {
                    font-size: 60px;
                    margin-bottom: 25px;

                    .green {
                        color: var(--base-color2);
                    }

                    .purple {
                        color: var(--base-color-3);
                    }
                }

                .slogan {
                    margin-bottom: 25px;
                }

                .btn {
                    background-color: var(--base-color2);
                    border-color: var(--base-color2);
                    color: var(--black-color);
                }

                .img-box {
                    max-width: 400px;
                    height: 100%;
                    margin-top: -20px;
                    margin-left: auto;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .shop-sec {
            width: 100%;
            background-color: var(--base-color2);
            color: var(--black-color);
            padding: 90px 0 !important;

            .content {
                z-index: 2;

                .headline-box {
                    padding-top: 15%;

                    .headline {
                        font-size: 60px;
                        margin-bottom: 25px;
                    }

                    .slogan {
                        margin-bottom: 25px;
                    }

                    .btn {
                        background-color: var(--black-color);
                        border-color: var(--black-color);
                        color: var(--white-color);
                    }
                }

                .img-box {
                    max-height: 450px;
                    height: 100%;
                    margin-right: auto;

                    img {
                        height: 100%;
                    }
                }
            }

            .sec_overlay {
                padding-top: 10%;
            }
        }

        .wings-sec {
            width: 100%;
            background-color: var(--base-color1);
            color: var(--white-color);
            padding: 80px 0 !important;

            .content {
                z-index: 2;

                .headline-box {
                    padding-top: 15%;

                    .headline {
                        font-size: 60px;
                        margin-bottom: 25px;
                    }

                    .slogan {
                        margin-bottom: 25px;
                    }

                    .btn {
                        background-color: var(--base-color2);
                        border-color: var(--base-color2);
                        color: var(--black-color);
                    }
                }

                .img-box {
                    max-height: 450px;
                    height: 100%;
                    margin-right: auto;

                    img {
                        height: 100%;
                    }
                }
            }
        }

        .wallet-sec {
            width: 100%;
            background-color: var(--white-color);
            color: var(--black-color);
            padding: 50px 0 !important;

            .content {
                z-index: 2;

                .headline-box {
                    padding-top: 15%;

                    .headline {
                        font-size: 60px;
                        margin-bottom: 25px;
                    }

                    .slogan {
                        margin-bottom: 25px;
                    }

                    .btn {
                        background-color: var(--base-color2);
                        border-color: var(--base-color2);
                        color: var(--black-color);
                    }
                }

                .img-box {
                    max-width: 380px;
                    height: 100%;
                    margin-right: auto;

                    img {
                        width: 100%;
                    }
                }
            }

            .connection_gif {
                margin-top: -20px;
            }
        }

        .newsletter-sec {
            width: 100%;
            background-color: var(--base-color2-light);
            color: var(--black-color);
            padding: 150px 0 !important;

            .container {
                background: linear-gradient(180deg, #93FFE5 0%, rgba(147, 255, 229, 0.59375) 40.63%, rgba(147, 255, 229, 0.59375) 40.63%, rgba(194, 252, 238, 0.46) 40.63%, #B5FFED 100%);
                text-align: center;
                border-radius: 15px;
                z-index: 2;

                .content {
                    padding: 4rem 4rem;
                    margin: auto;
                    width: 70%;

                    .headline-box {
                        .headline {
                            font-weight: bold;
                            margin-bottom: 30px;
                        }

                        .desc {
                            width: 70%;
                            margin: auto;
                            margin-bottom: 25px;
                        }
                    }

                    .input-group {
                        background-color: var(--white-color);
                        border-radius: 10px;
                        padding: 0.6em 0.8em;

                        .form-control {
                            font-size: var(--view-size);
                            border: none;
                            box-shadow: none;

                            &:focus {
                                border: none;
                                box-shadow: none;
                            }

                            &::placeholder {
                                font-size: var(--view-size);
                            }
                        }

                        .btn {
                            background-color: var(--black-color);
                            color: var(--white-color);
                            border-radius: 10px !important;
                        }
                    }
                }
            }

            .sec_overlay {
                height: 100% !important;
                width: 100%;

                img {
                    height: auto;
                    width: 100%;
                }
            }
        }
    }

    .footer {
        padding-top: 120px;
        padding-bottom: 120px;
        background-color: var(--base-color1);
        color: var(--white-color);

        .nav-links {
            margin-bottom: 35px;

            ul {
                li {
                    list-style-type: none;
                    margin-bottom: 10px;

                    &.header {
                        color: var(--base-color2-light);
                    }
                }
            }
        }

        .copyright {
            margin-top: 35px;

            .btn-outline-secondary {
                border-color: var(--white-color);
                color: var(--white-color);
            }

            .copyright-content {
                padding-top: 40px;
            }

        }
    }

    @media screen and (max-width: 991px) {
        .navbar {
            position: sticky;
        }
    }

    .main-content {}

    @media screen and (max-width: 425px) {}
}