:root {
  --base-color1: #753CBD;
  --base-color1-dark: #6E34B7;
  --base-color2: #54D4B6;
  --base-color2-dark: #45CFAF;
  --base-color2-light: #63ECCB;
  --base-color-3: #FF70F9;
  --black-color: #000;
  --white-color: #fff;
  --view-size: 13px;
  --view-size-xxl: 20px;
  --view-size-xxxl: 30px;
  --view-size-xl: 16px;
  --view-size-sm: 11px;
  --view-size-xs: 8px;
  --transitioner: 0.6s all ease;
  --material-icon-xl: 45px;
  --fontawesome-xl: 35px;
  --fontawesome-md: 30px;
  --curve-corner-sm: 5px;
  --curve-corner-xl: 15px;
  --curve-corner-xxl: 25px;
  --curve-corner-cirle: 50%;
}

* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jost", sans-serif;
}
body .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
body .btn {
  border-radius: var(--curve-corner-sm);
  font-size: 12px;
  padding: 10px 35px;
  transition: var(--transitioner);
}
body .btn.btn-anim {
  outline: none;
  border: none;
  font-size: var(--view-size);
  font-weight: bold;
}
body .btn.btn-anim .material-symbols-outlined,
body .btn.btn-anim i {
  font-size: inherit;
  font-weight: 600;
  vertical-align: middle;
  margin: 0;
  opacity: 0;
  width: 0;
}
body .btn.btn-anim.black {
  background: black;
}
body .btn.btn-anim:hover {
  transition: var(--transitioner);
  padding-left: 25px;
  padding-right: 25px;
}
body .btn.btn-anim:hover .material-symbols-outlined,
body .btn.btn-anim:hover i {
  transition: var(--transitioner);
  opacity: 1;
  margin-left: 15px;
  width: auto;
}
body .upperCase {
  text-transform: uppercase;
}
body .lowerCase {
  text-transform: lowercase;
}
body .navbar {
  font-size: var(--view-size);
  background: var(--white-color);
}
body .navbar .navbar-collapse .navbar-nav {
  margin: auto;
}
body .navbar .navbar-collapse .navbar-nav .nav-link {
  padding-top: 12px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  color: var(--black-color);
}
body .navbar #languageDrop {
  color: var(--black-color);
  background-color: transparent;
  border: none;
}
body .navbar #languageDrop:focus {
  border: none;
  box-shadow: none;
}
body .main-content section.sec {
  padding: 125px 0;
  overflow-x: hidden;
}
body .main-content section.sec .sec_overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90%;
  overflow: hidden;
}
body .main-content section.sec .sec_overlay img {
  width: 100%;
}
body .main-content section.sec .sec_overlay_double {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body .main-content section.sec .sec_overlay_double img {
  width: 100%;
}
body .main-content .hero-banner {
  width: 100%;
  background-color: var(--base-color1);
  color: var(--white-color);
}
body .main-content .hero-banner .content {
  z-index: 2;
}
body .main-content .hero-banner .content .headline {
  font-size: 60px;
  margin-bottom: 25px;
}
body .main-content .hero-banner .content .headline .green {
  color: var(--base-color2);
}
body .main-content .hero-banner .content .headline .purple {
  color: var(--base-color-3);
}
body .main-content .hero-banner .content .slogan {
  margin-bottom: 25px;
}
body .main-content .hero-banner .content .btn {
  background-color: var(--base-color2);
  border-color: var(--base-color2);
  color: var(--black-color);
}
body .main-content .hero-banner .content .img-box {
  max-width: 400px;
  height: 100%;
  margin-top: -20px;
  margin-left: auto;
}
body .main-content .hero-banner .content .img-box img {
  width: 100%;
}
body .main-content .shop-sec {
  width: 100%;
  background-color: var(--base-color2);
  color: var(--black-color);
  padding: 90px 0 !important;
}
body .main-content .shop-sec .content {
  z-index: 2;
}
body .main-content .shop-sec .content .headline-box {
  padding-top: 15%;
}
body .main-content .shop-sec .content .headline-box .headline {
  font-size: 60px;
  margin-bottom: 25px;
}
body .main-content .shop-sec .content .headline-box .slogan {
  margin-bottom: 25px;
}
body .main-content .shop-sec .content .headline-box .btn {
  background-color: var(--black-color);
  border-color: var(--black-color);
  color: var(--white-color);
}
body .main-content .shop-sec .content .img-box {
  max-height: 450px;
  height: 100%;
  margin-right: auto;
}
body .main-content .shop-sec .content .img-box img {
  height: 100%;
}
body .main-content .shop-sec .sec_overlay {
  padding-top: 10%;
}
body .main-content .wings-sec {
  width: 100%;
  background-color: var(--base-color1);
  color: var(--white-color);
  padding: 80px 0 !important;
}
body .main-content .wings-sec .content {
  z-index: 2;
}
body .main-content .wings-sec .content .headline-box {
  padding-top: 15%;
}
body .main-content .wings-sec .content .headline-box .headline {
  font-size: 60px;
  margin-bottom: 25px;
}
body .main-content .wings-sec .content .headline-box .slogan {
  margin-bottom: 25px;
}
body .main-content .wings-sec .content .headline-box .btn {
  background-color: var(--base-color2);
  border-color: var(--base-color2);
  color: var(--black-color);
}
body .main-content .wings-sec .content .img-box {
  max-height: 450px;
  height: 100%;
  margin-right: auto;
}
body .main-content .wings-sec .content .img-box img {
  height: 100%;
}
body .main-content .wallet-sec {
  width: 100%;
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 50px 0 !important;
}
body .main-content .wallet-sec .content {
  z-index: 2;
}
body .main-content .wallet-sec .content .headline-box {
  padding-top: 15%;
}
body .main-content .wallet-sec .content .headline-box .headline {
  font-size: 60px;
  margin-bottom: 25px;
}
body .main-content .wallet-sec .content .headline-box .slogan {
  margin-bottom: 25px;
}
body .main-content .wallet-sec .content .headline-box .btn {
  background-color: var(--base-color2);
  border-color: var(--base-color2);
  color: var(--black-color);
}
body .main-content .wallet-sec .content .img-box {
  max-width: 380px;
  height: 100%;
  margin-right: auto;
}
body .main-content .wallet-sec .content .img-box img {
  width: 100%;
}
body .main-content .wallet-sec .connection_gif {
  margin-top: -20px;
}
body .main-content .newsletter-sec {
  width: 100%;
  background-color: var(--base-color2-light);
  color: var(--black-color);
  padding: 150px 0 !important;
}
body .main-content .newsletter-sec .container {
  background: linear-gradient(180deg, #93FFE5 0%, rgba(147, 255, 229, 0.59375) 40.63%, rgba(147, 255, 229, 0.59375) 40.63%, rgba(194, 252, 238, 0.46) 40.63%, #B5FFED 100%);
  text-align: center;
  border-radius: 15px;
  z-index: 2;
}
body .main-content .newsletter-sec .container .content {
  padding: 4rem 4rem;
  margin: auto;
  width: 70%;
}
body .main-content .newsletter-sec .container .content .headline-box .headline {
  font-weight: bold;
  margin-bottom: 30px;
}
body .main-content .newsletter-sec .container .content .headline-box .desc {
  width: 70%;
  margin: auto;
  margin-bottom: 25px;
}
body .main-content .newsletter-sec .container .content .input-group {
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 0.6em 0.8em;
}
body .main-content .newsletter-sec .container .content .input-group .form-control {
  font-size: var(--view-size);
  border: none;
  box-shadow: none;
}
body .main-content .newsletter-sec .container .content .input-group .form-control:focus {
  border: none;
  box-shadow: none;
}
body .main-content .newsletter-sec .container .content .input-group .form-control::-moz-placeholder {
  font-size: var(--view-size);
}
body .main-content .newsletter-sec .container .content .input-group .form-control::placeholder {
  font-size: var(--view-size);
}
body .main-content .newsletter-sec .container .content .input-group .btn {
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 10px !important;
}
body .main-content .newsletter-sec .sec_overlay {
  height: 100% !important;
  width: 100%;
}
body .main-content .newsletter-sec .sec_overlay img {
  height: auto;
  width: 100%;
}
body .footer {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--base-color1);
  color: var(--white-color);
}
body .footer .nav-links {
  margin-bottom: 35px;
}
body .footer .nav-links ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
body .footer .nav-links ul li.header {
  color: var(--base-color2-light);
}
body .footer .copyright {
  margin-top: 35px;
}
body .footer .copyright .btn-outline-secondary {
  border-color: var(--white-color);
  color: var(--white-color);
}
body .footer .copyright .copyright-content {
  padding-top: 40px;
}
@media screen and (max-width: 991px) {
  body .navbar {
    position: sticky;
  }
}/*# sourceMappingURL=style.css.map */